*,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

#form,
#ticket {
    padding: 20px;
    border-radius: 10px;
}

span.fname,
span.sname,
p.tipologiaOfferta,
span.price {
    text-transform: uppercase;
    font-weight: 800;
}